/* src/views/Turnos/Turnos.module.css */

.container {
    
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  